<div class="row">
  <div class="col-md-8 col-md-offset-1">
    <div class="panel panel-primary">
      <div class="panel-heading" style="background-color: #5d6f96;border-color: #14137c">
        <h3 class="panel-title" >Edit Approver Category</h3>
      </div>

      <div class="panel-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>