<div class="center">
  <center>

    <br/>
    <div class="row">
      <div class="col-md-6 col-md-offset-2">
        <fieldset>
          <legend>Update Recipient</legend>
          <%= render 'form' %>
        </fieldset>
      </div>
    </div>
  </center>

</div>