<div class="center">
  <center>

    <br/>
    <div class="row">
      <div class="col-md-8 col-md-offset-1">
        <fieldset>
          <legend>Create Recipient</legend>
          <%= render 'form' %>


        </fieldset>
      </div>
    </div>
  </center>

</div>