<div class="center">
  <center>

    <br/>
    <div class="row">
      <div class="col-md-4 col-md-offset-3">
        <fieldset>
          <legend>Create Payout</legend>
          <%= render 'form' %>
        </fieldset>
      </div>
    </div>
  </center>

</div>


<div class="col-md-10 col-md-offset-0">
  <div class="w3-container">

    <div class="w3-bar w3-black">
      <button class="w3-bar-item w3-button tablink w3-red" onclick="openCity(event,'transaction')">Transactions</button>

    </div>
    <div id="transaction" class="w3-container w3-border city">

      <%= render('transactions/transaction_index') %>
    </div>


  </div>


  <br>
  <%#= link_to "show all transactions", all_transactions_path %>
</div>
</div>